
@{
    ViewBag.Title = "Committee";
}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

<script type="text/javascript">
    function guid() {
        function s4() {
            return Math.floor((1 + Math.random()) * 0x10000)
              .toString(16)
              .substring(1);
        }
        return s4() + s4() + '-' + s4() + '-' + s4() + '-' +
          s4() + '-' + s4() + s4() + s4();
    }

    $(document).ready(function () { 
        $("p").click(function () {
            alert("The paragraph was clicked.");
            
           // $(".ibox-content").append(' <div class="alert alert-success"> New Msg </div>');
        });

        $("#id" + guid()).on('click',function () {
            alert("removing");
            var id = $(this).data('id');
            alert(id);
            $("#id" + id).remove();
            


        });

        $("#postbtn").click(function()
        {
            var text = $("#comment").val();

           $("#user-box").append(Date() + '<div class="alert alert-success">' + text + '</div>');
           $("#secretary-box").append(Date() + '<div id = "id' + guid()+'">' + '<div class="alert alert-warning alert-dismissable">' + text + '</div>' +
                '<button type="button" id="approvebtn" class="btn btn-success">approve</button>' + '&nbsp;' + '<button type="button" id="id' + guid() + '" class="btn btn-danger">remove</button>' + '</div>');
           alert(guid());

        });
                        });
</script>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Agenda</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Dashboard_1", "Dashboards")">Home</a>
            </li>
            <li>
                <a>Committee</a>
            </li>
            <li class="active">
                <strong>Agenda</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Agenda Notes</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#">Config option 1</a>
                            </li>
                            <li>
                                <a href="#">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content" id="user-box">
                    <div class="alert alert-success">
                        Approved Agenda Text notes 
                    </div>
                    
                    

                       

                    </div>  

                <div class="alert alert-danger">
                    Nullified agenda text notes
                    <p>test</p>
                </div>
                <h2>Form control: textarea</h2>
                <p>The form below contains a textarea for comments:</p>
                <form role="form">
                    <div class="form-group">
                        <label for="comment">Comment:</label>
                        <textarea class="form-control" rows="5" id="comment"></textarea>
                    </div>
                </form>
                <button type="button" id="postbtn" class="btn btn-success">Post</button>

                
            </div>
        </div>
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Approved Agenda</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#">Config option 1</a>
                            </li>
                            <li>
                                <a href="#">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"> wksksksk</i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content" id="secretary-box">
                   
                  
                    <div class="alert alert-warning alert-dismissable">
                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                        Pending Approval Agenda <a class="alert-link" href="#">Alert Link</a>.
                    </div>
                    <p> Random Text</p>
                </div>
            </div>
            Comments
            <div class="ibox-content">

                <div>
                    <div class="feed-activity-list">

                        <div class="feed-element">
                            <a href="@Url.Action("Profile", "AppViews")" class="pull-left">
                                <img alt="image" class="img-circle" src="~/Images/profile.jpg">
                            </a>
                            <div class="media-body ">
                                <small class="pull-right">5m ago</small>
                                <strong>Monica Smith</strong> posted a new blog. <br>
                                <small class="text-muted">Today 5:60 pm - 12.06.2014</small>

                            </div>
                        </div>

                        <div class="feed-element">
                            <a href="@Url.Action("Profile", "AppViews")" class="pull-left">
                                <img alt="image" class="img-circle" src="~/Images/a2.jpg">
                            </a>
                            <div class="media-body ">
                                <small class="pull-right">2h ago</small>
                                <strong>Mark Johnson</strong> posted message on <strong>Monica Smith</strong> site. <br>
                                <small class="text-muted">Today 2:10 pm - 12.06.2014</small>
                            </div>
                        </div>
                        <div class="feed-element">
                            <a href="@Url.Action("Profile", "AppViews")" class="pull-left">
                                <img alt="image" class="img-circle" src="~/Images/a3.jpg">
                            </a>
                            <div class="media-body ">
                                <small class="pull-right">2h ago</small>
                                <strong>Janet Rosowski</strong> add 1 photo on <strong>Monica Smith</strong>. <br>
                                <small class="text-muted">2 days ago at 8:30am</small>
                            </div>
                        </div>
                        <div class="feed-element">
                            <a href="@Url.Action("Profile", "AppViews")" class="pull-left">
                                <img alt="image" class="img-circle" src="~/Images/a4.jpg">
                            </a>
                            <div class="media-body ">
                                <small class="pull-right text-navy">5h ago</small>
                                <strong>Chris Johnatan Overtunk</strong> started following <strong>Monica Smith</strong>. <br>
                                <small class="text-muted">Yesterday 1:21 pm - 11.06.2014</small>
                                <div class="actions">
                                    <a class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> Like </a>
                                    <a class="btn btn-xs btn-white"><i class="fa fa-heart"></i> Love</a>
                                </div>
                            </div>
                        </div>
                        <div class="feed-element">
                            <a href="@Url.Action("Profile", "AppViews")" class="pull-left">
                                <img alt="image" class="img-circle" src="~/Images/a5.jpg">
                            </a>
                            <div class="media-body ">
                                <small class="pull-right">2h ago</small>
                                <strong>Kim Smith</strong> posted message on <strong>Monica Smith</strong> site. <br>
                                <small class="text-muted">Yesterday 5:20 pm - 12.06.2014</small>
                                <div class="well">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                                    Over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                                </div>
                                <div class="pull-right">
                                    <a class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> Like </a>
                                </div>
                            </div>
                        </div>
                        <div class="feed-element">
                            <a href="@Url.Action("Profile", "AppViews")" class="pull-left">
                                <img alt="image" class="img-circle" src="~/Images/profile.jpg">
                            </a>
                            <div class="media-body ">
                                <small class="pull-right">23h ago</small>
                                <strong>Monica Smith</strong> love <strong>Kim Smith</strong>. <br>
                                <small class="text-muted">2 days ago at 2:30 am - 11.06.2014</small>
                            </div>
                        </div>
                        <div class="feed-element">
                            <a href="@Url.Action("Profile", "AppViews")" class="pull-left">
                                <img alt="image" class="img-circle" src="~/Images/a7.jpg">
                            </a>
                            <div class="media-body ">
                                <small class="pull-right">46h ago</small>
                                <strong>Mike Loreipsum</strong> started following <strong>Monica Smith</strong>. <br>
                                <small class="text-muted">3 days ago at 7:58 pm - 10.06.2014</small>
                            </div>
                        </div>
                    </div>

                    <button class="btn btn-primary btn-block m-t"><i class="fa fa-arrow-down"></i> Show More</button>

                </div>

            </div>

        </div>
        
        
    </div>
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Bootstrap markdown <small>http://www.codingdrama.com/bootstrap-markdown/</small></h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-wrench"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li>
                        <a href="#">Config option 1</a>
                    </li>
                    <li>
                        <a href="#">Config option 2</a>
                    </li>
                </ul>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        
    </div>
    
    
</div>


   
